.menu{
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 30px;
    left: 50%;
    right: 50%;
    gap: 60px;
    width: min-content;
    transform: translate(-50%, 0);
   
    z-index: 1;
}

.menu > img{
    width: 100px;
    height: 100px;
    cursor: pointer;
}