.home_tv_border{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 90%;
    box-shadow: inset 0 0 0px 4px rgba(249, 248, 204, 1),
                inset 0 0 10px 18px rgba(227, 81, 68, 0.7);
    border-radius: 80px;
    background: linear-gradient(217deg,rgba(204, 247, 249,0.2), rgba(14, 5, 69, 0.3));
}

.home_tv_border::before{
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 84px;
    box-shadow:  0 0 0px 4px rgba(249, 248, 204, 1),
                 0 0 15px 18px rgba(227, 81, 68, 0.7);;
        
}

