.montserrat {
        font-family: "Montserrat", serif;
        font-optical-sizing: auto;
        /* font-weight: <weight>; */
        font-style: normal;
      }

.app{
        display: flex;
        align-items: center;
        width: 100vw;
        height: 100vh;
        background: radial-gradient(circle at center, #451785 , #110135);
        overflow-x: hidden;
}